//컬러
$color-main: #5f0080;
$color-sub: #a073c2;
$pink: #e96968;
$sub-text: #999;
$white: #fff;
$black: #303538;
$lightgrey: #f7f7f7;
$grey: #d1d5d9;
$darkgrey: #666;

//웹폰트
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

//fontello
@import './scss/fontello/css/animation.css';
@import './scss/fontello/css/fontello.css';

//common style
@import './scss/Reset.scss';
@import './scss/Common.scss';
@import './scss/Header.scss';
@import './scss/Footer.scss';

//style
@import './scss/Home.scss';
@import './scss/Login.scss';
@import './scss/SignUp.scss';
@import './scss/AddList.scss';
@import './scss/BookList.scss';
@import './scss/SearchResult.scss';
@import './scss/BookDetail.scss';
