#header {
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 30px;
    background-color: $color-sub;
    z-index: 100;
    box-shadow: 0 2px 7px 1px rgba(51, 51, 51, 0.3);
    .header-top {
        position: relative;
        height: 30px;
        line-height: 30px;
        margin: 0 0 40px;
        text-align: center;
        h1.header-logo {
            display: inline-block;
            width: 130px;
            a {
                font-size: 35px;
                letter-spacing: -2px;
                color: $white;
            }
        }
        .header-btn {
            position: absolute;
            top: 0;
            right: 0;
            a,
            span {
                float: left;
                min-width: 90px;
                margin-left: 10px;
                box-sizing: border-box;
                background-color: rgba(95, 0, 128, 0.7);
                border-radius: 5px;
                padding: 0 16px;
                font-weight: normal;
                color: $white;
                font-size: 13px;
                height: 30px;
                line-height: 30px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &:hover {
                    background-color: $color-main;
                    transition: 0.5s;
                }
            }
        }
    }
    .header-bottom {
        padding-bottom: 20px;
        .menu {
            display: inline-block;
            width: 63%;
            .link {
                font-size: 16px;
                font-weight: bold;
                color: $white;
                span {
                    i {
                        margin-right: 5px;
                    }
                }
                &:after {
                    content: '|';
                    display: inline-block;
                    padding: 0 50px;
                    color: #ddd;
                    font-size: 12px;
                }
                &:last-of-type:after {
                    display: none;
                }
                &.active {
                    color: $color-main;
                }
                &:hover {
                    color: $color-main;
                }
                &:focus {
                    outline: none;
                }
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 50px;
                }
            }
        }
        .header-search {
            display: inline-block;
            margin-left: 30px;
            .input-box {
                font-size: 16px;
                background-color: $lightgrey;
                box-sizing: border-box;
                width: 370px;
                border-radius: 18px;
                height: 35px;
                line-height: 35px;
                outline: none;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                input {
                    width: 340px;
                    margin: 0 20px;
                    border: 0;
                    background-color: $lightgrey;
                    box-sizing: border-box;
                }
                .btn-search {
                    border: 0;
                    background: transparent;
                    i {
                        color: #808991;
                        padding-bottom: 5px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
