#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: $color-main;
    border-bottom: 1px solid $grey;
    z-index: 1;
    .header-top{
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        h1.header-logo {
            float: left;
            width: 130px;
            text-align: center;
            a {
                display: inline-block;
                font-size: 30px;
                letter-spacing: -2px;
                color:$white;
            }
        }
        .header-search{
            float: left;
            margin-left: 30px;
            .input-box{
                font-size: 16px;
                background-color: #ffffff;
                box-sizing: border-box;
                width: 370px;
                border-radius: 3px;
                height: 32px;
                line-height: 32px;
                outline: none;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                i{
                    color: #808991;
                    text-indent: 5px;
                }
                input{
                    width: 350px;
                    padding: 0 10px;
                    border: 0;
                    box-sizing: border-box;
                }
            }

        }
        .header-btn{
            float: right;
            a{  
                float: left;
                width: 90px;
                margin-left: 10px;
                box-sizing: border-box;
                background-color: $color-main;
                border: 1px solid $color-sub;
                border-radius: 3px;
                padding: 0 16px;
                font-weight: bold;
                color: #ffffff;
                font-size: 13px;
                height: 30px;
                line-height: 30px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }
    }
    .header-bottom{
        .menu{
            margin-top: 35px;
            .link{
                margin-right: 50px;
                font-size: 16px;
                font-weight: bold;
                color:$white;
                span{
                    i{
                        margin-right: 5px;
                    }
                }
                &.active{
                   color:$color-sub
                }
            }
        }
    }
    
}
