.react-multiple-carousel__arrow::before {
    z-index: 0;
}
#main {
    .banner-wrap {
        padding: 80px 0;
        .banner {
            width: 430px;
            height: 285px;
            border-radius: 10px;
            margin: auto;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    .new-book-wrap {
        background: $lightgrey;
        .contents {
            min-height: 0;
            padding-top: 100px;
            padding-bottom: 100px;
            .title {
                margin-bottom: 40px;
                color: $black;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                i {
                    vertical-align: top;
                }
            }
            .banner {
                width: 80%;
                margin: auto;
                color: $black;
                .img {
                    position: relative;
                    height: 250px;
                    margin-bottom: 20px;
                    img {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        box-shadow: 1px 1px 3px 1px #eee;
                    }
                }
                .name {
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: $black;
                }
                .author {
                    font-size: 14px;
                    font-weight: normal;
                    color: $sub-text;
                }
            }
        }
    }
    .best-book-wrap {
        .contents {
            min-height: 0;
            padding-top: 100px;
            padding-bottom: 60px;
            text-align: center;
            .title {
                margin-bottom: 40px;
                color: $black;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                i {
                    vertical-align: top;
                }
            }
            .book-list {
                .item-box {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    width: 100%;
                    .item {
                        width: 33%;
                        margin: auto;
                        .img {
                            position: relative;
                            display: inline-block;
                            width: 100px;
                            margin-right: 20px;
                            .rank {
                                position: absolute;
                                width: 34px;
                                height: 34px;
                                line-height: 30px;
                                top: -10px;
                                left: -10px;
                                background: $color-sub;
                                border-radius: 50%;
                                text-align: center;
                                color: $white;
                                box-sizing: border-box;
                            }
                            img {
                                width: 100%;
                                box-shadow: 1px 1px 3px 1px #dcdcdc;
                            }
                        }
                        .txt-box {
                            display: inline-block;
                            width: 250px;
                            padding: 50px 0;
                            border-bottom: 1px solid #dcdcdc;
                            box-sizing: border-box;
                            text-align: left;
                            .name {
                                padding-right: 15px;
                                font-weight: 700;
                                line-height: 1.33em;
                                color: $black;
                                max-height: 2.7em;
                                margin-bottom: 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: block;
                                white-space: nowrap;
                                font-size: 15px;
                                box-sizing: border-box;
                            }
                            .author {
                                margin-bottom: 10px;
                                color: $sub-text;
                            }
                            .MuiSvgIcon-root {
                                width: 15px;
                                height: 15px;
                            }
                        }
                        &:nth-of-type(7) .txt-box,
                        &:nth-of-type(8) .txt-box,
                        &:nth-of-type(9) .txt-box {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
