html,
body,
#root {
    height: 100%;
}

#login {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    .login-wrap {
        padding-top: 140px;
        .dj-logo {
            display: inline-block;
            margin-bottom: 50px;
            font-size: 25px;
            color: $black;
            letter-spacing: -1.5px;
        }
        .login-form-wrap {
            display: block;
            width: 435px;
            margin: 0 auto;
            .input-area {
                display: block;
                height: 55px;
                border: 1px solid $color-sub;
                + .input-area {
                    margin-top: 15px;
                    border: 1px solid $grey;
                    label {
                        background-color: $grey;
                    }
                }
                label {
                    float: left;
                    width: 70px;
                    height: 55px;
                    background-color: $color-sub;
                    line-height: 55px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: -1px;
                }
                input {
                    float: left;
                    width: 363px;
                    height: 100%;
                    padding: 0 10px;
                    border: 0;
                    background: transparent;
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }

            .btn-login {
                width: 100%;
                height: 54px;
                border: none;
                background-color: $color-main;
                color: $white;
                font-size: 20px;
                font-weight: bold;
            }
            .sns-login {
                display: flex;
                padding-top: 20px;
                button {
                    flex: 1;
                    height: 54px;
                    color: $white;
                    font-weight: bold;
                    border: 0;
                    &:nth-of-type(1) {
                        background: #ff2f2f;
                    }
                    &:nth-of-type(2) {
                        margin: 0 10px;
                        background: #febf00;
                    }
                    &:nth-of-type(3) {
                        background: #1ec900;
                    }
                }
            }
        }
    }
    .menu {
        width: 435px;
        margin: 20px auto 0;
        font-size: 14px;
        a {
            display: inline-block;
            color: $darkgrey;
            font-weight: 500;
            &:hover {
                color: $color-sub;
            }
            & + a {
                &:before {
                    content: '|';
                    display: inline-block;
                    margin: 0 6px;
                    color: $grey;
                    vertical-align: top;
                }
            }
        }
    }
}
