// 마이페이지 공통
#myPage {
  width: 800px;
  margin: auto;
  .contents {
    width: 100%;
    min-height: 570px;
    padding-top: 50px;
  }
  .title {
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px solid $black;
    font-size: 20px;
    color: $black;
  }
  .menu {
    display: flex;
    a {
      flex: 1;
      display: inline-block;
      padding: 15px;
      border-bottom: 1px solid $grey;
      text-align: center;
      outline: none;
      &.active {
        color: $color-sub;
        font-weight: bold;
        border-bottom: 2px solid $color-sub;
      }
    }
  }
}

// 마이페이지 모달
.modal-title {
  text-align: center;
  margin: 10px 0 40px;
  font-size: 25px;
  color: $black;
  letter-spacing: -1.5px;
}
.modal-description {
  .btn-wrap {
    button {
      width: 49%;
      height: 55px;
      border: 0;
      background-color: rgba(95, 0, 128, 0.7);
      font-weight: normal;
      color: $white;
      font-size: 18px;
      font-weight: bold;
      &:first-child:hover {
        background-color: #5f0080;
        transition: 0.5s;
      }
      &:last-child {
        background: $white;
        border: 1px solid $color-sub;
        color: $color-sub;
      }
      & + button {
        margin-left: 2%;
      }
    }
  }
}

// 프로필
#profile {
  padding-top: 100px;
  text-align: center;
  .name {
    font-size: 25px;
    color: $black;
    span {
      display: contents;
      font-size: 20px;
    }
  }
  .email {
    margin: 20px 0;
    font-size: 16px;
    color: $black;
  }
  .join {
    margin-bottom: 40px;
    font-size: 16px;
    color: $black;
    span {
      display: contents;
      font-weight: bold;
    }
  }
  button {
    box-sizing: border-box;
    background-color: rgba(95, 0, 128, 0.7);
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    font-weight: normal;
    color: $white;
    font-size: 13px;
    display: inline-block;
    &:hover {
      background-color: #5f0080;
      transition: 0.5s;
    }
  }
}

// 내가 올린 리뷰
#myReview {
  .count {
    text-align: right;
    font-size: 14px;
    span {
      display: contents;
      color: $pink;
      font-weight: bold;
    }
  }
  .review-list {
    padding: 10px 0;
    .item {
      position: relative;
      padding: 25px;
      margin-bottom: 10px;
      border: 1px solid $grey;
      border-radius: 5px;
      .name {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.4;
      }
      .star-box {
        margin: 0 0 15px;
        .MuiSvgIcon-fontSizeInherit {
          font-size: 16px;
        }
        .create {
          margin-left: 10px;
          font-size: 13px;
          color: $sub-text;
        }
      }
      .desc {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.4;
        color: $black;
      }
      .btn-wrap {
        position: absolute;
        bottom: 10px;
        right: 10px;
        .delete {
          padding: 5px 10px;
          background: $white;
          border: 1px solid $grey;
          border-radius: 5px;
          color: $black;
          font-size: 14px;
        }
      }
    }
  }
}

// 위시리스트
#myWish {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .item {
    position: relative;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 60px;
    a {
      .book-img {
        position: relative;
        width: 85%;
        min-height: 220px;
        margin: auto;
        img {
          position: absolute;
          bottom: 0;
          width: 100%;
          box-shadow: 1px 1px 5px 2px #eee;
        }
      }
      .book-title {
        margin: 15px 0 5px;
        font-size: 15px;
        color: $black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .book-sub {
      width: 100%;
      margin-bottom: 10px;
      font-size: 13px;
      color: $sub-text;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .star-box {
      position: relative;
      margin-bottom: 10px;
      .MuiSvgIcon-fontSizeInherit {
        font-size: 16px;
      }
      .review {
        font-size: 13px;
        color: $sub-text;
      }
      .like {
        position: absolute;
        right: 0;
        bottom: 0;
        button {
          border: 0;
          background: $white;
          .icon-heart-1 {
            color: $darkgrey;
          }
          .icon-heart-filled {
            color: $pink;
          }
        }
      }
    }
  }
}

// 내가 올린 책
#myBook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .item {
    position: relative;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 60px;
    a {
      .book-img {
        position: relative;
        width: 85%;
        min-height: 220px;
        margin: auto;
        img {
          position: absolute;
          bottom: 0;
          width: 100%;
          box-shadow: 1px 1px 5px 2px #eee;
        }
      }
      .book-title {
        margin: 15px 0 5px;
        font-size: 15px;
        color: $black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .book-sub {
      width: 100%;
      margin-bottom: 10px;
      font-size: 13px;
      color: $sub-text;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .create {
      font-size: 13px;
      color: $sub-text;
    }
  }
}
