// ** SearchResult
#searchResult {
    .result-title {
        padding-bottom: 15px;
        border-bottom: 1px solid $grey;
        font-size: 18px;
        font-weight: normal;
        span {
            display: contents;
            font-weight: bold;
        }
    }
    .sort-box {
        padding: 15px 0;
        span {
            font-size: 12px;
            font-weight: bold;
            color: $sub-text;
            cursor: pointer;
            &:after {
                content: '|';
                display: inline-block;
                padding: 0 10px;
                color: $grey;
            }
            &:last-of-type:after {
                display: none;
            }
        }
    }

    // ** SearchResultItem
    .search-item {
        width: 100%;

        .item-wrap {
            .item {
                display: flex;
                flex-direction: row;
                padding-top: 30px;
                border-bottom: 1px solid $grey;
                .book-img {
                    display: table-cell;
                    width: 15%;
                    margin-right: 3%;
                    img {
                        width: 100%;
                    }
                }
                .book-info {
                    width: 82%;
                    .book-title {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 1.5;
                        color: $black;
                    }
                    .book-sub {
                        font-size: 13px;
                        color: $darkgrey;
                    }
                    .star-box {
                        margin: 10px 0;
                        .review {
                            margin-left: 10px;
                            font-size: 13px;
                            color: $darkgrey;
                        }
                    }
                    .book-desc {
                        height: 160px;
                        margin-top: 15px;
                        font-size: 13px;
                        color: $darkgrey;
                        line-height: 1.5;
                    }
                    .star-box {
                        padding: 0;
                    }
                }
                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}
