// ** SearchResult
.result-title{
    padding-bottom: 15px;
    border-bottom: 1px solid #d6e3f0;
    font-size: 18px;
    font-weight: normal;
    span{
        display: contents;
        font-weight: bold;
    }
}
.sort-box{
    padding: 15px 0;
    a{
        font-size: 12px;
        font-weight: bold;
        color:#808991;
        &:after{
            content:'|';
            display:inline-block;
            padding: 0 10px;
            color: #e6e8eb;
        }
        &:last-of-type:after{
            display: none;
        }
    }
}

// ** SearchResultItem
.search-item{
    width: 80%;
   
    .item-wrap{
        .item{
            display: flex;
            flex-direction: row;
            padding: 30px 0;
            border-bottom: 1px solid #dfdfdf;
            .book-img{
                display: table-cell;
                width: 15%;
                margin-right: 3%;
                img{
                    width: 100%;
                }
            }
            .book-info{
                width: 82%;
                .book-title{
                    margin-bottom: 10px;
                    font-size: 16px;
                    line-height: 1.5;
                    color:#333;
                }
                .book-sub{
                    font-size: 13px;
                    color:#666;
                }
                .book-desc{
                    height: 100px;
                    margin-top: 15px;
                    font-size: 13px;
                    color:#666;
                    line-height: 1.5;
                }
                .star-box{
                    padding: 0;
                }
            }
        }
    }
}
